/* Commentaire en CSS */
/*
Unités de dimension les plus utilisés en web

px          =>  Pixel
em          =>  cadratin : unité de mesure en print sur les presses. 
                le cadratin se calcul part rapport à la taille de la police dans l'élément parent
rem         =>  cadratin racine : se calcul part rapport à la taille de la police dans l'élément racine
%           =>  Pourcentage, de l'espace disponible autour de l'élément
vw & vh     =>  vw : viewport width; vh : viewport height

*/
/* déclarations générales */
/* 
la déclaration à la racine permet de définir des éléments avant la feuille de style du navigateur.
*/
:root{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8rem;
    font-size: 1.3rem;
    --main-site-color: rgba(13, 0, 0, 1);
    --site-background: rgba(156, 176, 217, 1);
    --main-link-color: rgba(58, 75, 99, 1);
    --header-bg: rgba(58, 75, 99, 1);
    --header-color: rgba(242, 238, 172, 1);
    --nav-bg: rgba(58, 75, 99, 1);
    --nav-color: rgba(242, 238, 172, 1);
    --footer-bg: rgba(58, 75, 99, 1);
    --footer-color: rgba(242, 238, 172, 1);
    --gutter: 0.5rem;
    color: var(--main-site-color)
}

/* Color Theme Swatches in RGBA */
.color-theme_sortie-privative-en-catamaran-de-course-a-port-camargue-4-rgba { color: rgba(242, 212, 174, 1); }

*, *::before, *::after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

a, a:visited{
    word-break: break-all;
    color: var(--main-link-color);
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.17rem;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 0.83rem;
}
h6{
    font-size: 0.67rem;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
}

/* déclaration de classe */

/* déclaration structure */

body{
    background-color: var(--site-background);
    margin: 0;
}

body > header,
body > nav,
body > footer
{
    background-color: var(--header-bg);
    color: var(--header-color);
    padding-left: calc( 2 * var(--gutter) );
    padding-right: calc( 2 * var(--gutter) );
}

body > nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

body > nav ul li{
    min-width: 110px;
    text-align: center;
    border-left: 1px solid var(--nav-color);
}

body > nav ul li:first-child{
    border-left: unset;
}
body > nav ul li:last-child{
    border-right: 1px solid var(--nav-color);
}

body > nav ul li a{
    display: block;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}

body > nav ul li a:hover{
    color: var(--nav-bg);
    background-color: var(--nav-color);
}

body > main{
    padding-left: calc( 2 * var(--gutter) );
    padding-right: calc( 2 * var(--gutter) );
}

body > nav ul,
body > nav ol{
    margin: 0;
}

body > header a,
body > nav a,
body > footer a,
body > header a:visited,
body > nav a:visited,
body > footer a:visited{
    color: var(--header-color);
    text-decoration: none;
}