/* Commentaire en CSS */
/*
Unités de dimension les plus utilisés en web

px          =>  Pixel
em          =>  cadratin : unité de mesure en print sur les presses. 
                le cadratin se calcul part rapport à la taille de la police dans l'élément parent
rem         =>  cadratin racine : se calcul part rapport à la taille de la police dans l'élément racine
%           =>  Pourcentage, de l'espace disponible autour de l'élément
vw & vh     =>  vw : viewport width; vh : viewport height

*/
/* déclarations générales */
/* 
la déclaration à la racine permet de définir des éléments avant la feuille de style du navigateur.
*/

/* on importe les fichiers CSS avant tout autre déclaration CSS, mais les commentaire ne gène pas l'import */

@import url('./bootstrap-icons.css');

:root{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    --font-size: 1.1rem;
    --form-font-size: 1.1rem;
    font-size: var(--font-size);
    --main-site-color: rgba(13, 0, 0, 1);
    --site-background: rgba(156, 176, 217, 1);
    --site-background-75: rgba(156, 176, 217, 0.75);
    --site-background-50: rgba(156, 176, 217, 0.5);
    --site-background-25: rgba(156, 176, 217, 0.25);
    --main-link-color: rgba(58, 75, 99, 1);
    --header-bg: rgba(58, 75, 99, 1);
    --header-color: rgba(242, 238, 172, 1);
    --nav-bg: rgba(58, 75, 99, 1);
    --nav-color: rgba(242, 238, 172, 1);
    --footer-bg: rgba(58, 75, 99, 1);
    --footer-color: rgba(242, 238, 172, 1);
    --gutter: 0.5rem;
    --send-button: rgb(10, 194, 10);
    --border-send-button: rgb(7, 136, 7);
    --send-button-hover: var(--border-send-button);
    --reset-button: orange;
    --border-reset-button: rgb(183, 119, 0);
    --reset-button-hover: var(--border-reset-button);
    --simple-button: rgb(174, 174, 174);
    --border-simple-button: rgb(111, 111, 111);
    --simple-button-hover: var(--border-simple-button);
    color: var(--main-site-color)
}

/* Color Theme Swatches in RGBA */
.color-theme_sortie-privative-en-catamaran-de-course-a-port-camargue-4-rgba { color: rgba(242, 212, 174, 1); }

*, *::before, *::after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

figure img{
    border: 3px solid var(--main-site-color);
    border-radius: 0.5rem;
}

a, a:visited{
    word-break: break-all;
    color: var(--main-link-color);
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.17rem;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 0.83rem;
}
h6{
    font-size: 0.67rem;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
}

form{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

form fieldset{
    border: 1px solid var(--nav-bg);
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

form fieldset legend{
    border-radius: 1rem;
    border: 1px solid var(--nav-bg);
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    box-shadow: 1px 1px 3px var(--nav-bg);
}

form button{
    line-height: 2rem;
    font-size: var(--font-size);
    border-radius: 0.5rem;
    border: 1px solid transparent;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.25rem;
}

form button[type="submit"]{
    background-color: var(--send-button);
    border-color: var(--border-send-button);
}

form button[type="submit"]:hover{
    background-color: var(--send-button-hover);
}

form button[type="reset"]{
    background-color: var(--reset-button);
    border-color: var(--border-reset-button);
}

form button[type="reset"]:hover{
    background-color: var(--reset-button-hover);
}

form button[type="button"]{
    background-color: var(--simple-button);
    border-color: var(--border-simple-button);
}

form button[type="button"]:hover{
    background-color: var(--simple-button-hover);
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form select{
    line-height: 1.8rem;
    height: 1.8rem;
    font-size: var(--form-font-size);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--main-link-color);
}

form input[type="checkbox"]{
    line-height: 1.3rem;
}

form textarea{
    width: 100%;
    height: 200px;
    background-color: var(--site-background-50);
    border-radius: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-size: var(--font-size);
    line-height: 1.5rem;
}

/* déclaration de classe */

.colonnes-x{
    columns: 1;
}

.carre-200{
    width: 200px;
    height: 200px;
}

.vignette{
    background-color: var(--main-site-color);
    object-fit:cover;
    border: 0.2rem solid var(--main-site-color);
}

.vignette.rounded{
    border-radius: 50%;
}

.video-cadre{
    position:relative;
    padding-bottom:56.25%;
    height:0;
    overflow:hidden;
}

.video-iframe{
    width:100%; 
    height:100%; 
    position:absolute; 
    left:0px; 
    top:0px; 
    overflow:hidden; 
    border:none;
}

.test-box{
    width: 150px;
    height: 150px;
    margin: 5rem 5rem 10rem 5rem;
    background-color: white;
}

.rainbow{
    box-shadow: 
        0 0 0 10px violet, 
        0 0 0 20px blue,
        0 0 0 30px green,
        0 0 0 40px yellow,
        0 0 0 50px orange,
        0 0 0 60px red;
}

.atari{
    background-color: black;
    border-top-left-radius: 50%;
    box-shadow: 
    -10px 0 red,
    -20px 0 orange,
    -30px 0 yellow
     ;
}

.bicolore{
    box-shadow: 
        inset 10px 0 goldenrod,
        inset -10px 0px goldenrod,
        inset 0 -10px black,
        inset 0 10px black,
        inset 0 0 0 20px fuchsia
    ;
}

.text-box{
    background-color: var(--site-background);
    color: var(--site-background);
    font-size: 2rem;
    font-weight: bold;
    height: 3rem;
    margin-bottom: 2rem;
}

.text-1{
    text-shadow: 0 0 5px black;
}

.text-2{
    text-shadow: 2px 2px  black,
    -2px -2px 2px black;
}

.triangle{
    height: 0;
    width: 0;
    --height-triangle: 50px;
    border-style: solid;
    border-color: transparent;
    border-left-width: calc( var(--height-triangle) * 0.866 );
    border-top-width: calc( var(--height-triangle) / 2);
    border-bottom-width: calc( var(--height-triangle) / 2);
    border-right-width: 0;
    margin: 2rem;
}

.t-rouge{
    border-left-color: red;
}

.t-vert{
    border-left-color: green;
}

.info{
    min-height: 100px;
    border: 3px solid transparent;
    border-radius: 0.25rem;
    margin: 0.25rem;
    padding: 0.25rem;
}

.warning{
    border-color: orangered;
    background-color: orange;
    color: black;
}

.warning::before{
    font-family: 'bootstrap-icons';
    padding: 0.25rem;
    content: "\f33a";
}

.success{
    border-color: green;
    background-color: greenyellow;
    color: black;
}

.success::before{
    font-family: 'bootstrap-icons';
    padding: 0.25rem;
    content: "\F26A";
}

/* HTML: <div class="ribbon">Your text content</div> */
.ribbon-content{
    margin-left: auto;
    margin-right: auto;
    position:relative;
    max-width: 200px;
    min-height: 200px ;
    border: 1px solid black;
}
.ribbon {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
  }
  .ribbon {
    --d: 0.6rem; /* the depth */
    
    position: absolute;
    top: 5px;
    inset-inline: calc(-1*var(--d));
    border-bottom: var(--d) solid #00000088;
    line-height: 1.8rem;
    clip-path: polygon(0 0,100% 0,100% calc(100% - var(--d)),calc(100% - var(--d)) 100%,calc(100% - var(--d)) calc(100% - var(--d)),var(--d) calc(100% - var(--d)),var(--d) 100%,0 calc(100% - var(--d)));
    background-color: red; /* the main color */
  }

  .dafalgan{
    width: 50px;
    height: 25px;
    border-radius: 25px;
    background: linear-gradient(to right, red, red 50%, #eee 50%, #eee 75%);
    margin: 1rem;
  }

/* déclaration structure */

body{
    background-color: var(--site-background);
    margin: 0;
}

body > header,
body > nav,
body > footer
{
    background-color: var(--header-bg);
    color: var(--header-color);
    padding-left: calc( 2 * var(--gutter) );
    padding-right: calc( 2 * var(--gutter) );
}

body > nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

body > nav ul li{
    min-width: 110px;
    text-align: center;
    border-left: 1px solid var(--nav-color);
}

body > nav ul li:first-child{
    border-left: unset;
}
body > nav ul li:last-child{
    border-right: 1px solid var(--nav-color);
}

body > nav ul li a{
    display: block;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}

body > nav ul li a:hover{
    color: var(--nav-bg);
    background-color: var(--nav-color);
}

body > main{
    padding-left: calc( 2 * var(--gutter) );
    padding-right: calc( 2 * var(--gutter) );
}

body > nav ul,
body > nav ol{
    margin: 0;
}

body > header a,
body > nav a,
body > footer a,
body > header a:visited,
body > nav a:visited,
body > footer a:visited{
    color: var(--header-color);
    text-decoration: none;
}

/* déclaraion responsives */

@media screen and (min-width: 720px) {
    .colonnes-x{
        columns: 2;
    }
}

@media screen and (min-width: 920px) {
    .colonnes-x{
        columns: 3;
    }
}